extends ../layout

block error_404
  .main.container
    .row
      .col-md-12.col-md-offset-6
        h1.display-4.m-b-2 404. That's an error.

        p The requested URL was not found on this server. That's all we know.