extends ../layout

block error_500
  .main.container
    .row
      .col-md-12.col-md-offset-6
        h1.display-4.m-b-2 500. That's an error.

        p There was an error. Please try again later. That's all we know.