<!DOCTYPE html>
<!-- Written by TechyGuy (TechyGuy#3470 @ discord, techy@novastack.org) And Coffeboi (Coffeboi#8124) for hugin cache, comes with no warranty but no copyright either. The code is free to edit however you want -->
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://raw.githack.com/TechyGuy17/Hugin-cache-homepage/master/style.css" rel="stylesheet">
</head>

<body>
  <h2>Last 50 messages:</h2>
  <h5>Want more? Use the api instead! {{ index_file_url }}</h5>

  <script>
    fetch('{{ index_file_url }}?size=50')
      .then((response) => {
        return response.json()
      })
      .then((json) => {
        var temp = "";

        json.items.forEach(item => {
          let username = item.nickname
          if (username == null) {
            username = "Anonymous"
          }
          let board = item.board
          if (item.board.startsWith('SEKR') == true) {
            board = item.board.slice(0, 10) + ".....";
          }
          let reply_tx = item.reply
          let reply_message = ""
          let reply_nickname = ""

if (reply_tx != null) {
    fetch('{{ index_file_url }}/' + reply_tx)
        .then((response) => {
            return response.json()        
        }).then((json) => {
          reply_message = json.message
          reply_nickname = json.nickname
     
          temp += "<tr>";
          temp += "<td>" + username + "</td>";
          temp += "<td>" + 'Orignal message: "' +  reply_nickname + ': ' + reply_message + ' "| Response: ' + item.message + "</td>";
          temp += "<td>" + board + "</td>";
          temp += "<td>" + new Date(item.time * 1000) + "</td>";
          document.getElementById('item').innerHTML = temp;
        })
      }
    })
    }) 
 
  </script>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Nickname</th>
          <th>Message</th>
          <th>Board</th>
          <th>Time</th>
        </tr>
      </thead>

      <tbody>
      <tbody id="item">
      </tbody>
    </table>
  </div>
</body>

</html>
