name: Hugin API Main Pipeline

env:
  GITHUB_REGISTRY: 'ghcr.io'
  GITHUB_OWNER: 'kryptokrona'
  GITHUB_DOCKER_IMAGE: 'hugin-api'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - '.run/**'
      - 'assets/**'
      - '.github/ISSUE_TEMPLATE/**'
      - 'docker-compose.yml'
      - 'http/**'
      - 'queries.sql'

jobs:
  build-docker:
    name: Build Docker
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: benjlevesque/short-sha@v1.2

    - name: Log into registry ghcr.io
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Build Docker
      run: |
        docker build -t $GITHUB_REGISTRY/$GITHUB_OWNER/$GITHUB_DOCKER_IMAGE:${{ env.SHA }} .

    - name: Publish Docker
      run: |
        docker push $GITHUB_REGISTRY/$GITHUB_OWNER/$GITHUB_DOCKER_IMAGE:${{ env.SHA }}

#  staging-deploy:
#    name: Staging Deploy
#    runs-on: ubuntu-latest
#    needs: build-docker
#
#    steps:
#    - name: Check out the codebase.
#      uses: actions/checkout@v2
#
#    - name: Run playbook
#      uses: dawidd6/action-ansible-playbook@v2
#      with:
#        playbook: provision_vps.yml
#        directory: ./ansible
#        key: ${{secrets.ANSIBLE_PRIVATE_KEY}}
#        vault_password: ${{secrets.ANSIBLE_VAULT_PASS}}
#        options: |
#          --inventory staging.inventory
#          --verbose
#
#  smoke-test-staging:
#    name: Smoke Test Staging
#    runs-on: ubuntu-latest
#    needs: [ staging-deploy ]
#
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: Uses Python 3.11
#        uses: actions/setup-python@v3
#        with:
#          python-version: '3.11.0-alpha.1'
#
#      - name: Smoke Test
#        run: |
#          pip3 install requests
#          python3 scripts/smoke-test.py test-api.novastack.org

  deploy-prod:
    name: Deploy Prod
    runs-on: ubuntu-latest
    needs: [ smoke-test-staging ]

    steps:
    - name: Check out the codebase.
      uses: actions/checkout@v2

    - name: Run playbook
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: provision_vps.yml
        directory: ./ansible
        key: ${{secrets.ANSIBLE_PRIVATE_KEY}}
        vault_password: ${{secrets.ANSIBLE_VAULT_PASS}}
        options: |
          --inventory prod.inventory
          --verbose

  smoke-test-prod:
    name: Smoke Test Prod
    runs-on: ubuntu-latest
    needs: [ deploy-prod ]

    steps:
      - uses: actions/checkout@v3

      - name: Uses Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: '3.11.0-alpha.1'

      - name: Smoke Test
        run: |
          pip3 install requests
          python3 scripts/smoke-test.py api.hugin.chat
